.styles-module_day__1I8NX {
  margin-right: 2px;
}
.styles-module_hour__1T19H {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MKT-WKS-0031,
.FILE-SRV-003 {
  width: 100px !important;
}
